<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pawrest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B63CFA84565FE33CCD45756C181D404581A9ACBC</string>
				<key>dateExpires</key>
				<string>7/15/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63CFA84565FE33CCD45756C181D404581A9ACBC</string>
						<key>dateExpires</key>
						<string>7/15/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4U5H969Z3G</string>
						<key>name</key>
						<string>soeun lim</string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63CFA84565FE33CCD45756C181D404581A9ACBC</string>
						<key>dateExpires</key>
						<string>7/15/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4U5H969Z3G</string>
						<key>name</key>
						<string>soeun lim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63CFA84565FE33CCD45756C181D404581A9ACBC</string>
						<key>dateExpires</key>
						<string>7/15/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4U5H969Z3G</string>
						<key>name</key>
						<string>soeun lim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63CFA84565FE33CCD45756C181D404581A9ACBC</string>
						<key>dateExpires</key>
						<string>7/15/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4U5H969Z3G</string>
						<key>name</key>
						<string>soeun lim</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B63CFA84565FE33CCD45756C181D404581A9ACBC</string>
						<key>dateExpires</key>
						<string>7/15/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4U5H969Z3G</string>
						<key>name</key>
						<string>soeun lim</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4U5H969Z3G.com.jikimi.pawrest.dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4U5H969Z3G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>pawrest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>431b8c32-2072-485a-82a4-ed25e0bd6b0d</string>
				<key>dateExpires</key>
				<string>7/15/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.jikimi.pawrest.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4U5H969Z3G</string>
				<key>name</key>
				<string>soeun lim</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
